body {
    padding: 10px;
}
canvas {
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
}

#info {
	position: absolute;
	top: 10px;
	width: 30%;
    height: 30%;
    padding-top: 20px;
	text-align: left;
	z-index: 100;
    font-family: 'Times New Roman', Times, serif;
	display:block;
    color: white;
    padding-left: 45px
}

#links {
    position: absolute;
    z-index: 100;
    bottom: 0;
    display: block;
    padding-left: 35px;
    padding-bottom: 40px;
}

#gui { 
    position: absolute; right: 10px; top: 30px;
}

#linkedin-logo {
    height: 36px;
    width: 42px;
}

#linkedin-logo-large {
    height: 43px;
    width: 50px;
    padding-left: 2px;
}

#github-logo {
    height: 36px;
    width: 36px;
}

#github-logo-dark {
    padding: 3px;
    border-radius: 2px;
    background-color: white;
    height: 36px;
    width: 36px;
}